.centrado {
    background-image: url(/imagenes/fondo1.jpg);
    background-image: url(/imagenes/fondo2.jpg);
    background-image: url(/imagenes/fondo3.jpg);
}

.textos {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.xd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}


.titulos {
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: bolder;

}

img {
    width: 400px;
    float: center;
    margin-bottom: 15xp;
}

p {
    margin-top: 0px;
    margin-bottom: 4px;

}

.enlace {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0px;
    color: white;
}

.boton {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.boton2 {
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    

}