@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Shrikhand&display=swap');


* {

    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 1000px;
    height: 650px;
    background: rgba(88, 30, 30, 0.884);
    border: 2px solid rgba(88, 30, 30, 0.884);
    border-radius: 20px;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    font-size: 25px;
    color: #fff;
}

body {

    background: url('/fondos/fondo8.jpg');
}

img {
    width: 250px;
    border-radius: 20px;
}

p {
    color: #000000;
    font-size: 20px;
}


@media (max-width: 1180px) {
    .form-box {
        width: 1050px;
        height: 1150px;
    }

    .form-control {
        height: 28px;
    }
}

@media(max-width: 1100px) {
    p {
        font-size: 15px;
    }

    h2 {
        font-size: 30px;
    }
}
/*esto es lo de java*/
.alertas {
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 238, 255);
    margin: 3px;
}


/*BOTONES*/

.button {
    position: center;
    width: 250px;
    height: 40px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

label {
    color: #fff;
}

input {
    border: 0;
}