@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 550px;
    height: 550px;
    background: rgba(255, 235, 205, 0.384);
    border: 2px solid rgba(255, 255, 255, 0.884);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 3.5em;
    color: #fff;
    text-align: center;
}

a{
    font-size: 25px;
    color: #fff;
}
body{
    background: url('/fondos/fondo1.jpg');
}
img{
    width: 250px;
    border-radius: 20px;
}

/*BOTONES*/

button{
    width: 75%;
    height: 40px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
a{
    color: black;
    text-decoration: none;
}
 
   