@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.imagenav {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

/*
.dropdown:hover .dropdown-menu {
    display: block;
  }

.navbar-nav > li {
    position: relative;
}  
*/

.body {
    margin-top: 80px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    /*BORRAR background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");*/
}

.button{
    cursor: pointer;
}

.btn {
    transition: .3s;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.img {
    width: 100%;
    max-width: 200px;
}

.img2 {
    width: 100%;
    max-width: 500px;
}

.borde {
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.623);
    display: block;
    margin: 0 auto;

    /*
    background: transparent;
    backdrop-filter: blur(35px);
    */
}

.borde:hover {
    background-color: #dbdbdb;
}

.borde2 {
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: white;
}

.borde-line {
    border-left-style: solid;
    border-width: 1px;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.precio {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.precio2 {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.alertas {
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-left: 30px;
}


.textos {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.titulos {
    color: rgb(0, 0, 0);
    font-family: 'Shrikhand', cursive;
    font-size: 69px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .titulos {
        font-size: 49px;
    }
  }

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    height: 100vh;
}

.icons-size {
    color: #333;
    font-size: 14px;
}

.action {
    position: fixed;
    right: 30px;
    top: 7px
}

.action .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.action .profile img {
    width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.action .menu {
    background-color: #FFF;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.action .menu::before {
    background-color: #fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}

.action .menu h3 {
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}

.action .menu h3 div {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}

.action .menu ul li {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s
}

.action .menu ul li a {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li:hover a {
    color: #0099ff;
}