{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Perfil</title>
    {% endblock titulo %}
    
    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/maria/estilo_datos.css' %}">

        <style>
            .titulos {
                text-align: left;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo9.jpg' %}");
            }
        </style>
    {% endblock head %}
    
    {% block body %}
        <div class="row borde2">
            <div class="col-md-12">
                <h1 class="titulos">Datos personales:</h1>
                <form action="" id="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">Nombre completo:</label>
                            <input id="name" type="text" class="form-control" value="{{ datos.nombre }}" readonly>
                            <p class="alertas" id="namealert"></p>
                            
                        </div>
                        <div class="col-md-6">
                            <label for="rut">Rut:</label>
                            <input id="rut" type="text" class="form-control" value="{{ datos.rut }}" readonly>
                            <p class="alertas" id="rutalert"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="email">Correo electrónico:</label>
                            <input id="email" type="text" class="form-control" value="{{ datos.correo }}"readonly>
                            <p class="alertas" id="emailalert"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="phone">Teléfono:</label>
                            <input id="phone" type="text" class="form-control" value="{{ datos.telefono }}" readonly>
                            <p class="alertas" id="phonealert"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="direc">Direccion:</label>
                            <input id="direc" type="text" class="form-control" value="{{ dire.direccion }}" readonly>
                            <p class="alertas" id="direcalert"></p>
                        </div>
                        <div class="col-md-4">
                            <label for="cboregion">Región:</label>
                            <select class="form-control" name="region" id="region" disabled required>
                                
                                <option value="{{ region.id_region }}">{{ region.nombre }}</option>
                                

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="cbocomuna">Comuna:</label>
                            <select class="form-control" name="comuna" id="comuna" disabled required>
                                
                                <option value="{{ comuna.id_comuna }}" data-region="{{ comuna.region.id_region }}">{{ comuna.nombre }}</option>
                                
                            </select>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <a class="a2" href="{% url 'mod_contra' %}" style="font-family: 'Montserrat Alternates', sans-serif; font-size: 25px; color: gray;">
                                modificar la contraseña
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <a class="btn" href="{% url 'actu_2' %}"
                            style="font-family: Montserrat Alternates, sans-serif; font-size: 30px; border-radius: 15px;" >Modificar datos</a>
                                
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
                <script src="{% static 'tiendita/js/ernesto/actualizar_datos.js' %}"></script>
  
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}