{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Carrito</title>
    {% endblock titulo %}
    
    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/maria/estilo_carrito.css' %}">

        <style>
            .titulos {
                text-align: left;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo6.jpg' %}");
            }
        </style>
    {% endblock head %}
    
    {% block body %}
        <div class="row">
            <div class="col-md-7">
                <div class="borde2">
                    <img class="img2" src="/ERNESTO/IMG/bombo.png" alt="">
                    <p class="textos">
                        Bombo
                        <br>
                        codigo: 34886589
                        <br>
                        Precio: $88.990
                        <br>
                        Tipo de despacho: Adomicilio
                        <br>
                        Cantidad:
                        <span class="material-symbols-outlined"></span>
                        <img class="imagenav" src="{% static 'tiendita/img/iconos/izquierda.png' %}">
                        <input type="text" value="1 ">
                        <img class="imagenav" src="{% static 'tiendita/img/iconos/derecha.png' %}">
                    </p><br><br>
                </div>
            </div>
            <div class="col-md-5">
                <div class="borde2">
                    <p class="textos">
                        Producto(1)
                        <br>
                        Total:$88.990
                    </p>
                    <br>
                    <button class="b2"
                        style="font-family: Montserrat Alternates, sans-serif; font-size: 30px; border-radius: 15px;">
                        continuar compra
                    </button>

                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}