{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Tus compras</title>
    {% endblock titulo %}

    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/maria/estilo_histo.css' %}">

        <style>
            .titulos {
                text-align: left;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}
   
    {% block body %}
        <div class="row borde2">
            <div class="col-md-6">
                <h1 class="titulos">Pedido n° 234987</h1>
                <h1 class="titulos">Detalles</h1>
                <p class="textos">
                    Cantidad: 1
                    <br>
                    Total de compra: $290.000
                    <br>
                    Despacho: Entrega a domicilio
                    <br>
                    Fecha de despacho: 13/09/2022
                    <br>
                    Dirección: Calle las Rosas 1142
                </p>
            </div>
            <div class="col-md-6">
                <img class="img2" src="{% static 'tiendita/img/articulos/banjo.png' %}" alt="Banjo">
            </div>
        </div>
        <br>
        <div class="row borde2">
            <div class="col-md-6">
                <h1 class="titulos">Pedido n° 87653</h1>
                <h1 class="titulos">Detalles</h1>
                <p class="textos">
                    Cantidad: 1
                    <br>
                    Total de compra: $469.990
                    <br>
                    Despacho: Entrega a domicilio
                    <br>
                    Fecha de despacho: 1/09/2022
                    <br>
                    Dirección: Ciudad empresarial 3456
                </p>
            </div>
            <div class="col-md-6">
                <img class="img2" src="{% static 'tiendita/img/articulos/arpa.png' %}" alt="Banjo">
            </div>

        </div>
        <br>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}