{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Tus compras</title>
    {% endblock titulo %}

    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/maria/estilo_histo.css' %}">

        <style>
            .titulos {
                text-align: left;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}
   
    {% block body %}
        {% for venta in venta %}
            <div class="row borde2">
                <div class="col-md-6">
                    <h1 class="titulos">venta n° {{ venta.id_venta }}</h1>
                </div>
            </div>
            {% for boleta in venta.boleta_set.all %}
        <div class="row borde2">
            <div class="col-md-6">
                <h1 class="titulos">Pedido n° {{ boleta.id_boleta }}</h1>
                <h1 class="titulos">Detalles</h1>
                <h1 class="titulos"></h1>
                <p class="textos">
                    Nombre del producto: {{ boleta.producto.nombre }}
                    <br>
                    Cantidad: {{ boleta.cantidad }}
                    <br>
                    Total de compra: ${{boleta.subtotal}}
                    <br>
                    Despacho: Entrega a domicilio
                    <br>
                    Fecha de venta: {{ venta.f_venta }}
                    <br>
                    Fecha de despacho:  {{ venta.f_despacho }}
                    <br>
                    Fecha de entrega:  {{ venta.f_entrega }}
                </p>
            </div>
            
            <div class="col-md-6">
                <img class="img2" src="{{ boleta.producto.foto.url }}" alt="Banjo">
            </div>

        </div>
        {% endfor %}
            {% endfor %}
        <br>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}