{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Modificar contraseña</title>
    {% endblock titulo %}

    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/maria/estilo_modc.css' %}">

        <style>
            .titulos {
                text-align: left;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo9.jpg' %}");
            }
        </style>
    {% endblock head %}
    
    {% block body %}
        <div class="borde2">
            <div class="col-md-12">
                <h1 class="titulos" style="text-align: center;">Cambiar contraseña:</h1>
                <form id="form" action="">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="conactual">Contraseña actual:</label>
                            <input id="conactual" type="password" class="form-control">
                            <p class="alertas" id="conactualalert"></p>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="connueva">Contraseña nueva:</label>
                            <input id="connueva" type="password" class="form-control">
                            <p class="alertas" id="connuevaalert"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="converificar">Verificar contraseña:</label>
                            <input id="converificar" type="password" class="form-control">
                            <p class="alertas" id="converificaralert"></p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input class="btn" type="submit" value="Guardar Contraseña"
                            style="font-family: Montserrat Alternates, sans-serif; font-size: 30px; border-radius: 15px;">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
                <script src="{% static 'tiendita/js/ernesto/actualizar_contra.js' %}"></script>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}