{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Usuarios</title>
    {% endblock titulo %}

    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>

        
    {% endblock head %}
    
    {% block body %}
    

        <div class="row">
            <div class="col-md-12">
                <p class="titulos">Usuarios</p>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped" id="tabla" style="background-color: white;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in usuario %}
                    <tr>
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.rut }}</td>
                        <td>{{ i.correo }}</td>
                        <td>{{ i.telefono }}</td>
                        <td>{{ i.rol.nombre }}</td>
                        <td>
                            <a href="{% url 'usuario_rol' i.correo %}" class="btn btn-primary">Cambiar Rol</a>
                            <button class="btn btn-danger text-left eliminarUsuario" type="button" data-correo="{{ i.correo }}">Eliminar</button>
                            
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

        <script>
            $(document).ready(function() {
                $(".eliminarUsuario").click(function() {
                    var correo = $(this).data("correo");
                    // Mostrar cuadro de diálogo de confirmación
                    if (confirm("¿Estás seguro que quieres eliminar este usuario?")) {
                        // Realizar solicitud AJAX al servidor
                        $.ajax({
                            url: "{% url 'usuario_eliminar' %}",
                            type: "POST",
                            data: {
                                id_usuario: correo,
                                csrfmiddlewaretoken: "{{ csrf_token }}"

                            },
                            success: function(response) {
                                // Éxito de la solicitud AJAX
                                // Aquí puedes realizar acciones adicionales, como mostrar un mensaje al usuario
                                alert("Usuario eliminado correctamente");
                                // Redirigir al carrito
                                window.location.href = "{% url 'usuarios' %}";
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                // Error en la solicitud AJAX
                                // Aquí puedes manejar el error según tus necesidades
                                alert("Error al eliminar el usuario");
                            }
                        });
                    }
                });
            });
        </script>
    {% endblock body %}