{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Feriados</title>
    {% endblock titulo %}

    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>

        <script type="text/JavaScript">
            $(document).ready(function(){
                //tipo de método a aplicar al web service
                $.get("https://api.victorsanmartin.com/feriados/en.json", function(data){
                    //recorremos el archivo JSON
                    $.each(data.data,function(i,item){
                        //cada elemento  del JSON lo muestro en la tabla
                        $("#tabla").append(
                            "<tr>"+
                                "<td>"+ item.date +"</td>"+
                                "<td>"+ item.title +"</td>"+
                                "<td>"+ item.extra +"</td>"+
                            "</tr>"
                        );
                    });
                });
            });
        </script>
    {% endblock head %}
    
    {% block body %}
    

        <div class="row">
            <div class="col-md-12">
                <p class="textos" style="background-color: rgba(255, 255, 255, 0.479);">El motivo por el cual añadimos las fechas feriadas es porque, a pesar de que son fechas en las cuales no se trabaja.
                     Nosotros trabajaremos de todos modos. Nuestro servicio funcionará de la misma manera que funciona todos los días.</p>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped" id="tabla" style="background-color: white;">
                <thead>
                    <tr>
                        <th>Fechas</th>
                        <th>Titulos</th>
                        <th>Extra</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}