{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Instrumentos de cuerda</title>
    {% endblock titulo %}

    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}
    
    {% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="titulos">Instrumentos de cuerda</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><a href="/ERNESTO/articulos/violin.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/violin.png' %}" alt="violin"><br>VIOLIN<p class="precio">$26.200</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/guitarra_electrica.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/guitarra_electrica.png' %}" alt="guitarra_electrica"><br>GUITARRA ELECTRICA<p class="precio">$53.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/guitarra.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/guitarra.png' %}" alt="guitarra"><br>GUITARRA<p class="precio">$34.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/arpa.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/arpa.png' %}" alt="arpa"><br>ARPA<p class="precio">$465.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/banjo.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/banjo.png' %}" alt="banjo"><br>BANJO<p class="precio">$290.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/piano.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/piano.png' %}" alt="piano"><br>PIANO<p class="precio">$4.690.990</p></a></div>
        </div>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}