{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}
    
    {% block titulo %}
    <title>Instrumentos de idiofonos</title>
    {% endblock titulo %}
    
    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}

    
    {% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="titulos">Instrumentos de idiofonos</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><a href="/ERNESTO/articulos/triangulo.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/triangulo.png' %}" alt="triangulo"><br>TRIANGULO<p class="precio">$4.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/gong.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/gong.png' %}" alt="gong"><br>GONG<p class="precio">$29.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/carillones.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/carillones.png' %}" alt="carillones"><br>CARILLONES<p class="precio">$2.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/campana.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/campana.png' %}" alt="campana"><br>CAMPANA<p class="precio">$6.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/sanza.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/sanza.png' %}" alt="sanza"><br>SANZA<p class="precio">$31.900</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/vibrafono.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/vibrafono.png' %}" alt="vibrafono"><br>VIBRAFONO<p class="precio">$461.990</p></a></div>
        </div>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}