{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}

    {% block titulo %}
    <title>Instrumentos de percusion</title>
    {% endblock titulo %}
    
    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}

    {% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="titulos">Instrumentos de percusion</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><a href="/ERNESTO/articulos/bombo.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/bombo.png' %}" alt="bombo"><br>BOMBO<p class="precio">$88.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/timbal.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/timbal.png' %}" alt="timbal"><br>TIMBAL<p class="precio">$200.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/platillo.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/platillo.png' %}" alt="platillo"><br>PLATILLO<p class="precio">$10.990</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/maracas.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/maracas.png' %}" alt="maracas"><br>MARACAS<p class="precio">$3.180</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/caja.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/caja.png' %}" alt="caja"><br>CAJA<p class="precio">$83.180</p></a></div>
            <div class="col-md-2"><a href="/ERNESTO/articulos/xilofono.html" class="textos borde card">
                <img class="img" src="{% static 'tiendita/img/articulos/xilofono.png' %}" alt="xilofono"><br>XILOFONO<p class="precio">$42.000</p></a></div>
        </div>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}