{% extends 'tiendita/plantilla/navbar.html' %}
{% load static %}
    
    {% block titulo %}
    <title>Instrumentos de idiofonos</title>
    {% endblock titulo %}
    
    {% block head %}
        <link type="text/css" rel="stylesheet" href="{% static 'tiendita/css/ernesto/design.css' %}">
        <style>
            .body{
                background: url("{% static 'tiendita/img/fondos/fondo5.jpg' %}");
            }
        </style>
    {% endblock head %}

    
    {% block body %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="titulos">Instrumentos de idiofonos</h1>
                {% if usuario.rol.id_rol == 2 %}
                    <a href="{% url 'a_prod_nuevo' %}"><button class="btn btn-primary text-left">Añadir producto</button></a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            {% for i in productos %}
                {% if forloop.counter0|divisibleby:4 %}
                        <div class="col-md-2"></div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                {% endif %}
                <div class="col-md-2">
                    <a href="{% url 'producto' i.cod_producto %}" class="textos borde card">
                        <img class="img" src="{{ i.foto.url }}" alt="No disponible"><br>
                        {{ i.nombre|upper }}
                        <p class="precio">${{ i.precio }}</p>
                    </a>
                </div>
            {% endfor %}
            <div class="col-md-2"></div>
            
        </div>
        <br>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    {% endblock body %}